@media (max-width: 1199px) {
    .footer {
        &__info {
            width: 325px;
            height: 200px;
            padding: 35px 0;
        }
        &__addr {
            margin-bottom: 22px;
            font-size: 17px;
            line-height: 17px;
        }
        &__phone {
            margin-bottom: 22px;
            font-size: 17px;
            line-height: 17px;
        }

    }
}

@media (max-width: 991px) {
    .container {
        width: 750px;
    }
    .carousel {
        &__inner {
            width: 650px;
            img {
                width: 100%;
            }
        }
        .slick-prev {
            left: -50px;
        }
        .slick-next {
            right: -50px;
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 40px;
        }
        &__content {
            justify-content: center;
            margin-top: 40px;
        }
        &-item {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .feedback{
        padding-bottom: 40px;
        &-item {
            margin-top: 40px;
            &__wrapper {
                width: 550px
            }
            &__descr {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
    .footer {
        height: 400px;
        &__info {
            left: auto;
            transform: none;
            right: 0;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 575px;
    }
    .header {
        &__logo {
            width: 220px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 100%;
        }
    }
    .catalog {
        padding-bottom: 30px;
        &__tab {
            width: 30.5%;
        }
        &-item {
            margin-left: 10px;
            margin-right: 10px;
            width: 260px;
            &__list {
                margin-left: 15px;
                padding-left: 15px;
            }
            &__content {
                &-active{
                    margin-left: 10px;
                }
            }
            &__old-price {
                font-size: 13px;
            }
            &__price {
                font-size: 17px;
            }
            &__footer {
                .button_mini {
                    width: 120px;
                }
            }
        }
    }
    .feedback {
        &-item {
            &__wrapper {
                width: 375px;
            }
        }
    }
    .footer {
        height: 300px;
        &__info {
            position: static;
            width: 100%;
            height: 170px;
            padding: 20px 0;
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 16px;
        }
        button {
            width: 145px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 60px;
        }
        &__header {
            font-size: 24.5px;
        }
        &__subheader{
            font-size: 14px;
        }
        &__icons {
            width: 320px;
        }
        &__icon {
            width: 100px;
        }
    }
    .benefits {
        &__items {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            img {
                margin-top: 30px;
            }
        }
    }
    .consultation {
        padding-top: 40px;
        .title_left {
            text-align: center;
            font-size: 24px;
            line-height: 36px;
        }
        &__descr {
            text-align: center;
            font-size: 17px;
            line-height: 27px;
            font-weight: 300;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        &__inner {
            width: 90%;
        }
    }
    .catalog {
        &__tab {
            width: 10%;
            line-height: 0px;
            font-size: 0px;
            &_active {
                width: 60%;
                font-size: 18px;
                line-height: 48px;
            }
        }
        &-item {
            width: 300px;
            &__old-price {
                font-size: 14px;
            }
            &__price {
                font-size: 20px;
            }
            .button_mini {
                width: 131px;
                font-size: 14px;
            }
        }
    }
    .feedback {
        &-item {
            flex-direction: column;
            align-items: center;
            &__wrapper {
                width: 300px;
                margin-top: 10px;
            }
            &__name {
                text-align: center;
            }
            &__marathon {
                text-align: center;
            }
            &__descr {
                margin-top: 5px;
            }
        }
    }
    .feed-form {
        width: 260px;
    }
    .overlay {
        .modal {
            width: 300px;
            padding: 35px 20px 30px 20px;
            &__close {
                top: 5px;
                right: 5px;
            }
        }
    }
}