@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Museo Moderno', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';

@import 'base/media';