.benefits {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background: #F6F6F6;
    &__items {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }
    &__item {
        width: 275px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }
        &__header {
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #0D0D0D;
            span {
                text-decoration-line: underline;
                color: #FF0000;
            }
        }
    }
}