@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot') format('embedded-opentype'),
        url('../fonts/fontello.woff2') format('woff2'),
        url('../fonts/fontello.woff') format('woff'),
        url('../fonts/fontello.ttf') format('truetype'),
        url('../fonts/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-Thin.ttf);
    src: url('../fonts/MuseoModerno-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-ExtraLight.ttf);
    src: url('../fonts/MuseoModerno-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Museo Moderno';
    src: url('../fonts/MuseoModerno-Light.ttf');
    src: url('../fonts/MuseoModerno-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-Regular.ttf);
    src: url('../fonts/MuseoModerno-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-Medium.ttf);
    src: url('../fonts/MuseoModerno-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-SemiBold.ttf);
    src: url('../fonts/MuseoModerno-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-Bold.ttf);
    src: url('../fonts/MuseoModerno-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-ExtraBold.ttf);
    src: url('../fonts/MuseoModerno-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: Museo Moderno;
    src: url(../fonts/MuseoModerno-Black.ttf);
    src: url('../fonts/MuseoModerno-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}
